<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Template</title>
    <link rel="stylesheet" type="text/css" href="../Styles.css">
    <link rel="icon" href="../Images/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </nav>
    <header>
        <h1>Recipe Name</h1>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/8VVpBRlGQ-U?si=ROVVBTG23kE8ZGfs"
        title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        <p>Recipe description</p>
    </header>
  <div class="Recipe">
    <div class="Ingredients">
        <h2>Ingredients</h2><br>
        <ul>
            <li>Uno</li>
            <li>Dos</li>
            <li>Tres</li>
        </ul>
    </div>
    <div class="Instructions">
        <h2>Instructions</h2>
        <ol>
            <li>Live</li>
            <li>Laugh</li>
            <li>Love</li>

        </ol>
    </div>
  </div>
</body>
</html>