<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name</title>
    <link rel="stylesheet" type="text/css" href="../Styles.css">
    <link rel="icon" href="../Images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
            </ul>
        </nav>
        <h1>Name</h1>
        <p>Description</p>
    </header>
  <div class="Recipe">
    <div class="Ingredients">
        <h2>Ingredients</h2><br>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="Instructions">
        <h2>Instructions</h2>
        <ol>
            <li></li>
            <li></li>
            <li></li>

        </ol>
    </div>
  </div>
</body>
</html>