:root {
    --white: #FFFCEB;
    --black: #080D0A;
    --shadow: #1a1c17; 
    --blue: #3262C8;
    --blue-light: #75C0D1;
    --green-light: #83C3A4;
    --green-med: #41785e;
    --green-dark: #254C39;
    --yellow-light: #FEEABC;
    --yellow-med: #FDE74C;
    --yellow-dark: #F2D602;
    --attention: #DB5461;
    --attention-dark: #D84654;
    --red-light: #E3655B;
}

@font-face {
    font-family: 'Courier Prime', serif;
    src: url('.../Fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
  }

* {
    text-align: center;
    color: var(--black);
    font-family: 'Courier Prime', monospace;
}

html {
    background-color: var(--white);
}

header {
    margin: 30px auto 40px auto;
    display: grid;
}

header h1{
    display: inline-block;
    margin: 20px auto;
    padding: 0 30px;
    font-size: 3em;
    border-bottom: 3px solid var(--yellow-dark);
}

header p{
    font-size: 20px;
    font-style: italic;
    margin: 10px auto;
    padding: 10px 20px;
}

header iframe {
    display: inline-block;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--blue)
}

a:hover {
    color: var(--attention);
}

a:active {
    color: var(--attention-dark);
}

/* ------ NAV BAR ------ */

body > nav {
    display: flex;
    justify-content: left;
    margin: 20px;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

nav a {
    padding: 10px 20px;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--green-med);
    border: 2px solid var(--green-dark);
    
}

nav a:hover {
    color: var(--black);
    background-color: var(--yellow-med);
}

nav a:active {
    color: var(--white);
    border-color: var(--yellow-dark);
    background-color: var(--yellow-dark);
}


.Recipe {
    margin: 10px 20px; /* Slight margin around the Recipe section */
    text-align: left; /* Aligns text content inside .Recipe to the left */
    width: auto;
}

.Recipe ul,
.Recipe ol {
    margin-left: 50px; /* Indents the lists slightly for better readability */
    padding-left: 20px; /* Adds padding to align bullets/numbers properly */
    text-align: left; /* Ensures the list items are aligned to the left */
    list-style-position: outside; /* Positions bullets/numbers outside the text */
    margin-top: 2px;
}

.Recipe li {
    text-align: left; /* Aligns each list item text to the left */
    margin: 2px 0; /* Adds spacing between list items */
}

.Recipe h2,
.Recipe h3{
    text-align: left;
    margin: 5px 0 0 40px;
    padding: 10px 5px;
    justify-content: left;
    align-items: left;
}

