:root {
    --white: #FFFCEB;
    --black: #080D0A;
    --shadow: #1a1c17; 
    --blue: #3262C8;
    --blue-light: #75C0D1;
    --green-light: #83C3A4;
    --green-med: #41785e;
    --green-dark: #254C39;
    --yellow-light: #FEEABC;
    --yellow-med: #FDE74C;
    --yellow-dark: #F2D602;
    --attention: #DB5461;
    --attention-dark: #D84654;
    --red-light: #E3655B;
}

@font-face {
    font-family: 'Courier Prime', serif;
    src: url('.../Fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
  }

html {
    background-color: var(--white);
    font-family: 'Courier Prime', monospace;
}

h1{
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 0 30px;
    font-size: 3em;
    border-bottom: 3px solid var(--yellow-dark);
}

iframe {
    display: inline-block;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--blue)
}

a:hover {
    color: var(--attention);
}

a:active {
    color: var(--attention-dark);
}

/* ------ NAV BAR ------ */

nav {
    display: flex;
    justify-content: left;
    margin: 20px;
}

nav li{
    display: inline-block;
    list-style-type: none;
}

nav a {
    padding: 10px 20px;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--green-med);
    border: 2px solid var(--green-dark);
    
}

nav a:hover {
    color: var(--black);
    background-color: var(--yellow-med);
}

nav a:active {
    color: var(--white);
    border-color: var(--yellow-dark);
    background-color: var(--yellow-dark);
}

/* ------ BODY GRID ------ */

#recipe-title {
    grid-area: title;
    margin: 0 auto;
    text-align: center;
}

#recipe-times {
    display: flex;
    flex-direction: row;
    grid-area: info;
    margin: 20px auto;
    flex-wrap: wrap;
    text-align: center;
}

#recipe-times > span {
    display: inline-block;
    padding: 4px 10px;
    margin: auto;
    white-space: nowrap;
}

#servings {
    grid-area: servings;
    margin: auto;
    margin-bottom: 20px;
}
#servings > span {
    display: inline-block;
    padding: 0 6px;
    margin: auto;
}

#preview {
    grid-area: preview;
    margin: 0 auto;
}

#recipe-description {
    grid-area: description;
    margin: 0 auto;
}

#ingredients {
    grid-area: ingredients;
    margin: 0 auto;
    width: 90%;
}

#instructions {
    grid-area: instructions;
    margin: 0 auto;
    width: 90%;
}

.recipe h2 {
    text-align: center;
}

.recipe {
    display: flex;
    flex-direction: column;
    text-align: start;
}

@media (min-width:900px) {
    .recipe {
        display: grid;
        margin: auto;
        max-width: 1000px;
        grid-template-columns: auto auto;
        gap: 20px 20px;
        grid-template-areas:"title title"
                            "info info"
                            "servings servings"
                            "ingredients preview"
                            "ingredients description"
                            "instructions instructions";
    }

    #recipe-times, #servings {
        margin: 0 auto;
    }
}