:root {
    --lightgreen: #606C38;
    --darkgreen: #283618;
    --cream: #FEFAE0;
    --lightorange: #DDA15E;
    --darkorange: #BC6C25;
}

@font-face {
    font-family: 'Courier Prime', serif;
    src: url('.../Fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    text-align: center;
    background-color: var(--lightgreen);
    color: var(--cream);
    text-shadow: 2px 2px 2px black;
    font-family: 'Courier Prime', monospace;
  }

header {
    margin: 30px 0 40px 0;
    justify-content: center;
  }

header h1{
    display:inline;
    padding: 0 30px;
    font-size: 3em;
    border-bottom: 3px solid var(--darkorange);
}
header p{
    color: black;
    text-shadow: 0px 0px 1px #283618;
    font-size: 20px;
    font-style: italic;
}

#NavBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

#NavBar div{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 80%;
}

#NavBar section {
    flex-basis: 300px;
}

#NavBar h2 {
    padding: 10px 0;
    border: 2px solid var(--cream);
    background-color: var(--darkgreen);
    margin: 20px 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    width: 100%; /* Ensures the parent div spans the full width */
}

#NavBar li {
    text-align: left;
    margin: 10px 0;
    font-size: 1.3em;
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: var(--lightorange);
}

a:active {
    color: var(--darkorange);
}

.Recipe {
    margin: 10px 20px; /* Slight margin around the Recipe section */
    text-align: left; /* Aligns text content inside .Recipe to the left */
    width: auto;
}

.Recipe ul,
.Recipe ol {
    margin-left: 50px; /* Indents the lists slightly for better readability */
    padding-left: 20px; /* Adds padding to align bullets/numbers properly */
    text-align: left; /* Ensures the list items are aligned to the left */
    list-style-position: outside; /* Positions bullets/numbers outside the text */
    margin-top: 2px;
}

.Recipe li {
    text-align: left; /* Aligns each list item text to the left */
    margin: 2px 0; /* Adds spacing between list items */
}

.Recipe h2{
    text-align: left;
    margin: 5px 0 0 40px;
    padding: 10px 5px;
    justify-content: left;
    align-items: left;
